@model Pessoa
@{
    ViewData["Title"] = "Adicionar pessoa";
}


<div class="text-center">
    <h1 class="display-4">Adicionar pessoa</h1>
    <br />
</div>

<form class="row g-3" asp-controller="Pessoas" asp-action="Criar" method="post">
    <div class="col-md-5">
        <label class="form-label">Nome</label>
        <input type="text" asp-for="Nome" class="form-control" value="" placeholder="Digite o nome..." required>
    </div>
    <div class="col-md-2">
        <label class="form-label">CPF</label>
        <input type="text" asp-for="Cpf" class="form-control" value="" placeholder="Digite o CPF..." required>
    </div>
    <div class="col-md-5">
        <label class="form-label">Telefone</label>
        <div class="input-group">
            <input type="text" asp-for="Telefone.Ddd" class="form-control text-center" style="max-width: 60px;" placeholder="DDD" required>
            <input type="text" asp-for="Telefone.Numero" class="form-control" placeholder="Digite o telefone..." required>
        </div>
    </div>
    <div class="col-md-3">
        <label class="form-label">Estado</label>
        <select class="form-select" asp-for="Endereco.Estado" required>
            <option selected disabled value="">Escolha...</option>
            <option value="AC">Acre</option>
            <option value="AL">Alagoas</option>
            <option value="AP">Amapá</option>
            <option value="AM">Amazonas</option>
            <option value="BA">Bahia</option>
            <option value="CE">Ceará</option>
            <option value="DF">Distrito Federal</option>
            <option value="ES">Espírito Santo</option>
            <option value="GO">Goiás</option>
            <option value="MA">Maranhão</option>
            <option value="MT">Mato Grosso</option>
            <option value="MS">Mato Grosso do Sul</option>
            <option value="MG">Minas Gerais</option>
            <option value="PA">Pará</option>
            <option value="PB">Paraíba</option>
            <option value="PR">Paraná</option>
            <option value="PE">Pernambuco</option>
            <option value="PI">Piauí</option>
            <option value="RJ">Rio de Janeiro</option>
            <option value="RN">Rio Grande do Norte</option>
            <option value="RS">Rio Grande do Sul</option>
            <option value="RO">Rondônia</option>
            <option value="RR">Roraima</option>
            <option value="SC">Santa Catarina</option>
            <option value="SP">São Paulo</option>
            <option value="SE">Sergipe</option>
            <option value="TO">Tocantins</option>
        </select>
    </div>
    <div class="col-md-5">
        <label class="form-label">Cidade</label>
        <input type="text" asp-for="Endereco.Cidade" class="form-control" placeholder="Digite a cidade..." required>
    </div>
    <div class="col-md-4">
        <label class="form-label">CEP</label>
        <input type="text" asp-for="Endereco.Cep" class="form-control" placeholder="Digite o CEP..." required>
    </div>
    <div class="col-md-3">
        <label class="form-label">Bairro</label>
        <input type="text" asp-for="Endereco.Bairro" class="form-control" placeholder="Digite o bairro..." required>
    </div>
    <div class="col-md-3">
        <label class="form-label">Logradouro</label>
        <input type="text" asp-for="Endereco.Logradouro" class="form-control" placeholder="Digite o logradouro..." required>
    </div>
    <div class="col-md-1">
        <label class="form-label">Número</label>
        <input type="text" asp-for="Endereco.Numero" class="form-control" placeholder="Nº" required>
    </div>
    
    <div class="col-12">
        <button class="btn btn-primary" type="submit">Adicionar</button>
        <a class="btn btn-secondary" role="button" asp-controller="Pessoas" asp-action="Index">Voltar</a>
    </div>
</form>